/* PC、スマホ共通スタイル */
* {
  box-sizing: border-box;
}


body {
  margin: 0 auto 0 auto;  
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

p {
  font-size: 15px;
 }
 img {
  max-width: 100%;
 }

/* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
  }
 
 /* ナビゲーションのレイアウト */
 #nav-pc {
  font-size: 14px;
}

#nav-pc ul {
  display: flex;
  padding-left: 0;
}

#nav-pc li {
  list-style: none;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc a {
  text-decoration: none;
  margin-left: 20px;
  color: #0d0d0d;
}

#nav-pc a:hover {
  text-decoration: underline;
}
/* メインビジュアル*/
#main-visual {
  position: relative;
  height: 400px;
}
.main-img-1 {
  background-image: url("img/utiburo.png");
  background-repeat: no-repeat;
  height: 608px;
  width: 100%;
}
.main-img-2 {
  background-image: url("img/utiburo.png");
  background-repeat: no-repeat;
  height: 608px;
  width: 100%;
}
.main-img-3 {
  background-image: url("img/utiburo.png");
  background-repeat: no-repeat;
  height: 608px;
  width: 100%;
}
/* PC用カルーセル設定 */
.carousel {
  height: 608px;
}
.slick-track {
  height: 608px; 
}
.carouselImg {
  width: 100%;
  background-size: cover;
}
#carousel-section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#main-message {
  position: absolute;
  top: 0;
  left: 0;
  background-color:  #4D6600;
  color: #fff;
  border-radius: 0 0 350px 0;
  max-width: 620px;
  height: 100%;
  width: 100%;
  z-index: 11;
}
#main-message > h1 {
  font-size: 55px;
  margin: 100px 0 0 50px;
}
#main-message > p { 
  font-size: 15px;
  margin: 0 0 0 50px;
}

  /* 見出し */
  h2 {
    margin: 300px 0 0 0px;
   
  }
  
  h3 {
    font-size: 17px;
    
  }
   /* こだわり */
   #commitment {
    max-width: 1080px;
    margin: 80px auto 80px auto;
    text-align: center;
    padding: 0 5%;
  }
  #commitment-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

  }

#facilities,#access {
  text-align: center;
  margin:  0 auto;
  max-width: 1080px;
}

 
  
  iframe {
    margin-top: 100px;
  }
  footer {
    background-color:  #4D6600;
    margin-top: 300px;
  }

 .facilities-img {
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .facilities-img:hover {
    transform: scale(1.2,1.2);
    opacity: 0.7;
  }
.hall .trainingroom {
  border-radius: 44% 36% 26% 23% / 47% 30% 39% 29%;
}


/* お問い合わせ */
#contact  p {
 text-align: center;
 margin-bottom: 20px;
}

#contact dl {
  display: flex;
  flex-wrap: wrap;
}
#contact dt {
  width: 15%;
  margin-bottom: 10px;
}

#contact dd {
  width: 85%;
  margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
  width: 100%;
  border: 1px solid #c8c8c8;
  padding: 10px;
}

#contact dd textarea{
  height: 10rem;
}

#contact .button {
  text-align: center;
}
#contact .button input {
  border: 1px solid #24292e;
  background-color: #24292e;
  color: #fff;
  width: 200px;
  padding: 15px 0;
}
#contact .button input:hover {
  background-color: #fff;
  color: #24292e;
  transition: 0.3s;
}

/* アニメーション */
.sample-img {
  border-radius: 50%;
  max-width: 360px;
  overflow: hidden;
  width: 100%;
  line-height: 0;
}
.sample-img img {
  height: auto;
  transition: transform .6s ease; /* ゆっくり変化させる */
}
.sample-img:hover img {
  transform: scale(1.1); /* 拡大 */
}
  @media screen and (max-width: 1024px) {
    /* ここに通常のCSSを書きます。以下は一例です */
    div {
         display: inline-block;
    }
    iframe {
      max-width: 100%;
    }
    #main-visual > img {
      height: 100vh;
      object-fit: cover;
    }
    #main-img {
      background-position: center center;
    }
    .flex-right,.flex-left{
      display: block;

    }
    #commitment-flex > div > div{
      width: 100%;
    }
    #commitment-flex {
    flex-direction: column;
      padding: 0;
    }
  .sample-img {
    max-width: unset;
  }
  }

    

